/* затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* окно по центру */
.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
}

/* кнопки внутри */
.modal button {
  margin: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #ff69b4;
  color: white;
  cursor: pointer;
}
